body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  line-height: 1.5;
}

.first-container {
  padding: 1% 10%;
}

#title {
  background-color: #ff4c68;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  padding-bottom: 3%;
}

.nav-item {
  padding: 0 15px;
}

.download-btn {
  margin: 5% 2% 0 0;
}

.title-img {
  width: 50%;
  transform: rotate(12deg);
  margin: 5% 20%;
}

.features-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.features-img {
  color: #ef8172;
  font-size: 400%;
  margin: 8%;
}

.features-img:hover {
  color: #ff4c68;
}

.p-features {
  color: #8f8f8f;
  padding: 0 15%;
}

.feature {
  margin: 2%;
}

#features {
  text-align: center;
  margin: 8% auto;
}

.h2-testimonials {
  font-weight: bold;
  width: 80%;
  padding: 10% 0 0 0;
  margin: auto;
  text-align: left;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 15rem;
}

#testimonials {
  background-color: #ef8172;
  color: white;
}

.press-logo {
  width: 10rem;
  margin: 0 50px 50px;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.carousel-item {
  padding: 0 5%;
}

#testimonials-carousel {
  padding: 7%;
  text-align: center;
}
